<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <script type="text/javascript" src="vendor/javascripts/jquery.js"></script>
    <script type="text/javascript" src="vendor/javascripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="vendor/javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="vendor/javascripts/underscore.js"></script>
    <script type="text/javascript" src="vendor/javascripts/backbone.js"></script>
    <script type="text/javascript" src="compiled/application.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        Video.initialize();
      });
    </script>
  </head>
  <body>
    <div class="top">
      <div class="logo">
        <!-- <img src="http://placehold.it/350x120" alt="" /> -->
      </div>
      <div class="video-container">
      </div>
    </div>
    <div class="main-menu-container">
    </div>
    <div class="middle">
      <div class="featured-container">
      </div>
    </div>
    <div class="bottom">
    </div>

    <div class="popup">
    </div>

    <script id="main_video_tpl" type="text/template">
      <div class="video">
        <video width="100%" height="80%" controls>
          <source src="<%= video.get('video_file') %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="title">
        <h3><%= video.get("title") %></h3>
      </div>
      <div class="description">
        <%= video.get('description') %>
      </div>
    </script>

    <script id="featured_video_tpl" type="text/template">
      <a href="#videos/view/<%= video.get('id') %>">
        <img width="320" height="240" src="<%= video.get('thumbnail') %>">
        <%= video.get("title") %>
      </a>
    </script>

    <script id="main_menu_tpl" type="text/template">
      <ul class="main-menu">
        <li class="main-menu-item">
          <a href="#home">Home</a>
        </li>
        <% if(localStorage.email){ %>
          <li class="main-menu-item">
            <a href="#home" class="logout js-logout">Logout</a>
          </li>
          <li class="main-menu-item">
            <a href="#upload" class="upload js-upload">Upload</a>
          </li>
          <li class="main-menu-item">
            <% if(localStorage.user_type == "admin"){ %>
              <a href="#admin_videos" class="admin-videos js-all-videos">Admin</a>
            <% }else{ %>
              <a href="#videos" class="my-videos js-my-videos">My Videos</a>
            <% } %>
          </li>
        <% } else { %>
          <li class="main-menu-item">
            <a href="#home" class="login js-login">Login</a>
          </li>
          <li class="main-menu-item">
            <a href="#home" class="register js-register">Register</a>
          </li>
        <% } %>
      </ul>
    </script>

    <script id="login_form_tpl" type="text/template">
      <h3>Login</h3>
      <div>
        <input type="text" class="js-login-email" placeholder="Email" value="user@example.com" />
        <input type="password" class="js-login-password" placeholder="Password" value="password" />
      </div>
      <div class="js-status status"></div>
      <div class="actions">
        <button class="js-login-submit">Login</button>
        <button class="js-login-cancel">Cancel</button>
      </div>
    </script>

    <script id="register_form_tpl" type="text/template">
      <h3>Register</h3>
      <div>
        <input type="text" class="js-register-email" placeholder="Email" />
        <input type="password" class="js-register-password" placeholder="Password" />
        <input type="password" class="js-register-confirm-password" placeholder="Confirm password" />
      </div>
      <div class="js-status status"></div>
      <div class="actions">
        <button class="js-register-submit">Register</button>
        <button class="js-register-cancel">Cancel</button>
      </div>
    </script>

    <script id="upload_form_tpl" type="text/template">
      <form method="POST" class="js-upload-form">
        <h3>Upload video</h3>
        <div>
          <input type="file" class="js-upload-file" name="file" />
        </div>
        <div class="js-status status"></div>
        <div class="video-metadata hidden">
          <input type="text" class="js-video-title" placeholder="Title" />
          <textarea class="js-video-description" placeholder="Description"></textarea>
        </div>
        <div class="actions">
          <button class="js-upload-save hidden">Save</button>
          <button class="js-upload-cancel">Cancel</button>
        </div>
      </form>
    </script>

    <script id="videos_tpl" type="text/template">
      <h3>My Videos</h3>
    </script>
    <script id="video_tpl" type="text/template">
      <div class="my-videos-item">
        <a href="#videos/view/<%= video.get('id') %>">
          <div class="preview">
            <img width="200" height="140" src="<%= video.get('thumbnail') %>">
          </div>
          <div class="title">
            <h3><%= video.get("title") %></h3>
          </div>
        </a>
        <div class="description">
          <% if(video.get("description").length > 20){ %>
            <%= video.get("description").substr(0, 20) + "..." %>
          <% }else{ %>
            <%= video.get("description") %>
          <% } %>
        </div>
        <div class="created_at">
          Uploaded: <%= video.get("created_at").substr(0, 10) %>
        </div>
      </a>
    </script>

    <script id="admin_videos_tpl" type="text/template">
      <h3>Admin Videos</h3>
    </script>
    <script id="admin_video_tpl" type="text/template">
      <div class="my-videos-item">
        <a href="#videos/view/<%= video.get('id') %>">
          <div class="preview">
            <img width="200" height="140" src="<%= video.get('thumbnail') %>">
          </div>
          <div class="title">
            <h3><%= video.get("title") %></h3>
          </div>
        </a>
        <div class="description">
          <% if(video.get("description").length > 20){ %>
            <%= video.get("description").substr(0, 20) + "..." %>
          <% }else{ %>
            <%= video.get("description") %>
          <% } %>
        </div>
        <div class="created_at">
          Uploaded: <%= video.get("created_at").substr(0, 10) %>
        </div>
        <div class="delete">
          <button class="js-delete" data-id="<%= video.get('id') %>">Delete</button>
        </div>
        <div class="featured">
          <% if(video.get('featured') == '1') { checked = "checked='checked'"; } else { checked = ""; } %>
          <input type="checkbox" class="js-featured" data-id="<%= video.get('id') %>" <%= checked %> />Featured
        </div>
      </div>
    </script>

  </body>
</html>
