body, html, textarea{
  padding: 0px;
  margin: 0px;
  font-family: Ubuntu
}

form{
  margin: 0;
}

.hidden{
  display: none;
}

.error{
  border: 1px solid red;
}

.top{
  height: 80%;
  width: 100%;
  background-color: #81A594;
  position: relative;
}

.middle{
  height: 40%;
  width: 100%;
  background-color: #E6E6DC;
}

.bottom{
  height: 60%;
  width: 100%;
  background-color: #00628B;
}

.logo{
  margin: 0 auto;
  width: 400px;
  height: 20%;
}

.status{
  height: 60px;
  display: none;
  clear: both;
}

.actions{
  height: 40px
}

.main-menu-container{
  position: absolute;
  top: 0px;
  width: 90%;
  text-align: right;
}

.main-menu-container ul{
  margin: 0px;
}

.main-menu{
  width: 30%;
  height: 50px;
  margin: 0 auto;
  float: right;
}

.main-menu .main-menu-item{
  cursor: pointer;
  background-color: #00628B;
}

.main-menu-item{
  width: 20%;
  padding: 10px;
  float: left;
  text-align: center;
}

.main-menu-item a{
  color: #E6E6DC;
  text-decoration: none;
}

.video-container{
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0px;
}

.video-container .my-videos-list{
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
}

.video-container .my-videos-item{
  height: 150px;
  cursor: pointer;
  display: block;
  color: black;
  text-decoration: none;
  width: 30%;
  float: left;
}

.video-container .preview{
  width: 200px;
  float: left;
  margin-right: 20px;
}

.video{
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

.embed_video{
  float: left;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
}

.title{
  float: left;
  width: 200px;
}

.featured-container{
  width: 80%;
  margin: 0 auto;
  height: 80%;
  position: relative;
}

.featured-video{
  width: 20%;
  height: 100%;
  float: left;
  padding: 20px;
}

.popup{
  position: absolute;
  width: 100%;
  height: 10px;
  top: 30%;
}

.login-form, .register-form, .upload-form{
  position: relative;
  top: 40%;
  margin: 0 auto;
  width: 300px;
  border: 1px solid green;
  background-color: white;
  padding: 20px
}

.login-form h3, .register-form h3, .upload-form h3{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.login-form input, .register-form input, .upload-form input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 19px;
  padding: 13px;
}

.upload-form textarea{
  width: 300px;
  height: 110px;
  border-radius: 5px;
  margin-bottom: 19px;
  padding: 13px;
}

.login-form button, .register-form button, .upload-form button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  float: right;
  margin-left: 17px;
}

.register-form{
  min-height: 260px;
}

.login-form{
  min-height: 200px;
}

